<p-tree  [filter]="true" [value]="nodes" selectionMode="single" scrollHeight="800px" (onNodeSelect)="onClick($event)" class="geodata">
    <ng-template let-node pTemplate="default">
        <span class="menu-item"><b>{{node.label}}</b></span>
        <p-badge [value]="node.airports"></p-badge>
    </ng-template>
    <ng-template let-node pTemplate="nazione">
      <span class="menu-item">{{node.label}}</span>
      <p-badge [value]="node.airports"></p-badge>
  </ng-template>
</p-tree>
