.p-grid{
  height: 100vh;
}

.wrapper {
  align-items: stretch;
}

.grid-element{
  border: 1px solid black;
}

.map-container{
  min-height: 60%;
}

.map-button{
  position: absolute;
  z-index: 99;
  right: 0;
  margin-right: 10px;
}

.custom {
  width: auto;
  padding: 10px;
  height: auto;
}
