<div>
  <div class="p-grid wrapper">
    <div class="p-col-12 grid-element map-container">
      <div class="ol-control map-button">
        <button (click)="openGeodata()" class="custom">Apri sidebar</button>
      </div>
      <app-map [data]= "airportsDataModel" (nationCodeSelected)="getNotificationNationCode($event)"></app-map>
    </div>
    <div class="p-col-8 grid-element">
      <app-display [data]= "airportsDataModel" [nationHandler$]= "selection"></app-display>
    </div>
    <div class="p-col-4 grid-element">
      <app-detail [data]= "airportsDataModel" [nationHandler$]= "selection"></app-detail>
    </div>
  </div>

  <p-sidebar [(visible)]="displayGeodata" position="right">
    <app-geodata [data]= "geodata$" (nationSelected)="getNotification($event)"></app-geodata>
  </p-sidebar>
</div>
