    <p>
      <img [src]="'https://www.countryflags.io/' + selectedNation.alpha2  + '/flat/64.png'" style="width:auto">
      {{selectedNation.name || 'No country selected'}}
    </p>

      <p-chart type="doughnut" [data]="donut" [options]="options"></p-chart>
