    <p-table *ngIf="selectedNation.alpha2 && nationToApt[selectedNation.alpha2] else nodata"
      [value]="nationToApt[selectedNation.alpha2]"
      [columns]="columns"
      [paginator]="true"
      [rows]=5
      [showCurrentPageReport]=true
      currentPageReportTemplate="{first} - {last} di {totalRecords} aeroporti">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let column of columns" [pSortableColumn]="column.field">
            {{column.label}}
            <p-sortIcon [field]="column.field" aria-label="Clicca per ordinare"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let column of columns">
            {{rowData[column.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>

 <ng-template #nodata>
  <div class="no-data-message">
    <p>No known airport in {{selectedNation.name}} </p>
  </div>
</ng-template>
